.l-owndays-contactlens .color-variation:after {
  content: '';
  display: block;
  position: absolute;
}
@keyframes top_pg {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes top_pg {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  to {
    opacity: 1;
  }
}
@keyframes cloud_anim {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
@-webkit-keyframes cloud_anim {
  0% {
    -webkit-transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
  }
}
@keyframes pt_1_anim {
  0% {
    -webkit-transform: translateY(-5%);
    transform: translateY(-5%);
  }
  to {
    -webkit-transform: translateY(5%);
    transform: translateY(5%);
  }
}
@-webkit-keyframes pt_1_anim {
  0% {
    -webkit-transform: translateY(-5%);
  }
  to {
    -webkit-transform: translateY(5%);
  }
}
@keyframes pt_2_anim {
  0% {
    -webkit-transform: scaleX(1.1);
    transform: scaleX(1.1);
  }
  to {
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
}
@-webkit-keyframes pt_2_anim {
  0% {
    -webkit-transform: scaleX(1.1);
  }
  to {
    -webkit-transform: scaleX(1);
  }
}
@keyframes pt_3_anim {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
  }
  to {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-webkit-keyframes pt_3_anim {
  0% {
    -webkit-transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
  }
  to {
    -webkit-transform: scale(1);
  }
}
::selection {
  background: #94abae;
}
::-moz-selection {
  background: #94abae;
}
.l-owndays-contactlens {
  font-family: var(--font-base);
  letter-spacing: 0.05rem;
  line-height: 1.9rem;
  font-weight: 300;
  animation: fadeIn 2s ease 0s 1 normal;
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
  -webkit-font-smoothing: antialiased;
  background-attachment: fixed;
  background-size: cover;
}
@media (max-width: 767px) {
  .l-owndays-contactlens {
    margin-bottom: 0;
  }
}
.l-owndays-contactlens a {
  color: #000;
  text-decoration: none;
}
.l-owndays-contactlens img {
  display: block;
  width: 100%;
}
.l-owndays-contactlens h2 {
  text-align: center;
  font-size: 2rem;
  font-family: europa, sans-serif;
  margin-top: 2.5rem;
}
@media (max-width: 767px) {
  .l-owndays-contactlens h2 {
    font-size: 1.5rem;
  }
}
@media (max-width: 375px) {
  .l-owndays-contactlens h2 {
    font-size: 1.2rem;
  }
}
.l-owndays-contactlens #loader-bg {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  z-index: 1;
}
.l-owndays-contactlens #loader {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 200px;
  height: 200px;
  margin-top: -100px;
  margin-left: -100px;
  text-align: center;
  color: #fff;
  z-index: 2;
}
.l-owndays-contactlens .all_p {
  -webkit-animation: top_pg 5s ease-in-out 1 alternate;
  animation: top_pg 5s ease-in-out 1 alternate;
}
.l-owndays-contactlens #svg-bg {
  position: absolute;
  height: 50px;
  left: 0;
  width: 100%;
  top: 44rem;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}
@media (max-width: 767px) {
  .l-owndays-contactlens #svg-bg {
    top: 65rem;
  }
}
@media (max-width: 375px) {
  .l-owndays-contactlens #svg-bg {
    display: none;
  }
}
.l-owndays-contactlens .day {
  background: -webkit-linear-gradient(#6e93b9, #56a3bf, #8cd0d4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  font-size: 1.8rem;
}
@media (max-width: 767px) {
  .l-owndays-contactlens .day {
    font-size: 1.2rem;
  }
}
.l-owndays-contactlens .b_fade_in {
  margin-top: 0;
  opacity: 1;
}
.l-owndays-contactlens .howto h1,
.l-owndays-contactlens h3 {
  text-align: center;
  font-size: 2.6rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
  font-family: Founders Grotesk, sans-serif !important;
  position: relative;
}
@media (max-width: 767px) {
  .l-owndays-contactlens .howto h1,
  .l-owndays-contactlens h3 {
    font-size: 2rem;
  }
}
.l-owndays-contactlens .howto h1:after,
.l-owndays-contactlens h3:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1.9rem;
  height: 12px;
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(70%, transparent),
    color-stop(70%, #9fcad8)
  );
  background: linear-gradient(transparent 70%, #9fcad8 0);
  width: 60px;
  margin: 0 auto;
}
.l-owndays-contactlens .button a {
  display: block;
  text-transform: uppercase;
  position: relative;
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  border: 1px solid #000;
  padding: 1.6rem 0;
  width: 100%;
  max-width: 350px;
  text-align: center;
  margin: 3rem auto 0;
}
.l-owndays-contactlens .button a:after {
  position: absolute;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  content: '';
  width: 0;
  bottom: 0;
  background: #eee;
  height: 120%;
  left: -10%;
  -webkit-transform: skewX(15deg);
  transform: skewX(15deg);
  z-index: -1;
}
.l-owndays-contactlens .button a:hover {
  cursor: pointer;
  color: #000;
  letter-spacing: 0.1rem;
}
.l-owndays-contactlens .button a:hover:after {
  left: -10%;
  width: 120%;
}
.l-owndays-contactlens .main ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 767px) {
  .l-owndays-contactlens .main ul {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}
.l-owndays-contactlens .main h1 .title-main {
  max-width: 220px;
  margin: 0 auto;
}
@media (max-width: 767px) {
  .l-owndays-contactlens .main h1 .title-main {
    max-width: 160px;
  }
}
.l-owndays-contactlens .main h1 .title-sub {
  width: 66px;
  margin: -4% -14% -8% auto;
}
@media (max-width: 767px) {
  .l-owndays-contactlens .main h1 .title-sub {
    width: 45px;
  }
}
.l-owndays-contactlens .main > ul > li {
  width: 100%;
}
.l-owndays-contactlens .main > ul > li a {
  width: 100%;
  background-position: bottom;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  aspect-ratio: 39/33;
}
@media (max-width: 767px) {
  .l-owndays-contactlens .main > ul > li a {
    min-height: 330px;
  }
}
@media (min-width: 768px) {
  .l-owndays-contactlens .main > ul > li a {
    aspect-ratio: 384/500;
  }
}
@media (min-width: 1024px) {
  .l-owndays-contactlens .main > ul > li a {
    aspect-ratio: 700/500;
  }
}
.l-owndays-contactlens .main > ul > li:first-child a {
  background-image: url('/images/specials/products/owndays-contactlens/clear-bk.webp');
}
.l-owndays-contactlens .main > ul > li:last-child a {
  background-image: url('https://storage.owndays.com/news/owndays-contactlens/color-bg-sp.webp');
}
.l-owndays-contactlens .main > ul > li:last-child a:hover {
  opacity: 0.8;
}
.l-owndays-contactlens .main .more {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #000;
  color: #fff;
  font-family: europa, sans-serif;
  padding: 12px 30px;
  font-size: 15px;
  letter-spacing: 2px;
}
.l-owndays-contactlens .clear-package {
  max-width: 300px;
  margin: 0 auto;
}
.l-owndays-contactlens .color-lens {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-top: 15px;
}
.l-owndays-contactlens .color-lens img {
  width: 80px;
  padding: 0 5px;
}
.l-owndays-contactlens .color-variation {
  position: relative;
  display: block;
  width: 94px;
  padding: 2px 0 4px;
  font-size: 13px;
  background-color: #fff;
  text-align: center;
  margin: 20px auto 0;
  font-family: jaf-domus-titling-web, sans-serif;
  font-weight: 400;
}
.l-owndays-contactlens .color-variation:after {
  top: 3px;
  bottom: -4px;
  left: 3px;
  width: 100%;
  border: 1px solid #b37898;
}
.l-owndays-contactlens .pic_spec {
  margin: 20px 0;
}
@media (max-width: 767px) {
  .l-owndays-contactlens .pic_spec {
    margin: 15px 0;
  }
}
.l-owndays-contactlens .pic_spec img {
  width: auto;
  height: 40px;
  margin: 0 auto;
  opacity: 0.5;
}
@media (max-width: 767px) {
  .l-owndays-contactlens .pic_spec img {
    height: 34px;
  }
}
.l-owndays-contactlens .pic_spec ul li {
  width: 50px;
}
@media (max-width: 767px) {
  .l-owndays-contactlens .pic_spec ul li {
    width: 43px;
  }
}
.l-owndays-contactlens .pic_spec ul li:last-child img {
  height: 36px;
}
@media (max-width: 767px) {
  .l-owndays-contactlens .pic_spec ul li:last-child img {
    height: 30px;
  }
}
.l-owndays-contactlens .cloud-wrap {
  position: absolute;
  right: 6%;
  top: 6%;
  display: inline-block;
  width: 80px;
  height: 80px;
  background: #fff;
  -webkit-animation: cloud_anim 1s ease-in-out infinite alternate;
  animation: cloud_anim 1s ease-in-out infinite alternate;
}
@media (max-width: 767px) {
  .l-owndays-contactlens .cloud-wrap {
    margin-left: 3rem;
    width: 60px;
    height: 60px;
    margin-bottom: -13rem;
  }
}
.l-owndays-contactlens .cloud-wrap:after,
.l-owndays-contactlens .cloud-wrap:before {
  position: absolute;
  top: 50%;
  left: 50%;
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: #fff;
}
.l-owndays-contactlens .cloud-wrap:before {
  -webkit-transform: translate(-50%, -50%) rotate(65deg);
  transform: translate(-50%, -50%) rotate(65deg);
}
.l-owndays-contactlens .cloud-wrap:after {
  -webkit-transform: translate(-50%, -50%) rotate(-65deg);
  transform: translate(-50%, -50%) rotate(-65deg);
}
.l-owndays-contactlens .cloud-wrap .cloud {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: #fff;
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
.l-owndays-contactlens .cloud-wrap .cloud:after,
.l-owndays-contactlens .cloud-wrap .cloud:before {
  position: absolute;
  content: '';
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background-color: inherit;
}
.l-owndays-contactlens .cloud-wrap .cloud:before {
  -webkit-transform: rotate(25deg);
  transform: rotate(25deg);
}
.l-owndays-contactlens .cloud-wrap .cloud:after {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}
.l-owndays-contactlens .cloud-wrap .day {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  white-space: nowrap;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  font-family:
    Founders Grotesk,
    heisei-kaku-gothic-std,
    sans-serif;
}
.l-owndays-contactlens .note {
  padding: 7rem 0;
  background-color: #f5f5f5;
}
@media (max-width: 767px) {
  .l-owndays-contactlens .note {
    padding: 4rem 5%;
    margin: 0;
  }
}
.l-owndays-contactlens .note p {
  max-width: 800px;
  margin: 0 auto;
}
.l-owndays-contactlens .note h3 {
  margin-bottom: 8rem;
}
@media (max-width: 767px) {
  .l-owndays-contactlens .note h3 {
    margin-bottom: 5rem;
  }
}
.l-owndays-contactlens .note_inner {
  max-width: 800px;
  margin: 0 auto 2rem;
}
.l-owndays-contactlens .note_inner li {
  margin-bottom: 1.5rem;
}
.l-owndays-contactlens .note_inner span {
  display: block;
  color: #94abae;
  font-weight: 700;
}
.l-owndays-contactlens .howto {
  padding: 7rem 0;
  margin-bottom: 7rem;
}
@media (max-width: 767px) {
  .l-owndays-contactlens .howto {
    padding: 4rem 5%;
    margin-bottom: 4rem;
  }
}
.l-owndays-contactlens .howto p {
  text-align: center;
}
@media (max-width: 767px) {
  .l-owndays-contactlens .howto p {
    text-align: left;
    font-size: 13px;
  }
}
@media (max-width: 375px) {
  .l-owndays-contactlens .howto p {
    padding: 0 1.5rem;
  }
}
@media (max-width: 767px) {
  .l-owndays-contactlens .howto p:first-child {
    text-align: left;
  }
}
.l-owndays-contactlens .howto h1 {
  margin-bottom: 8rem;
}
@media (max-width: 375px) {
  .l-owndays-contactlens .howto h1 {
    margin-bottom: 6.5rem;
  }
}
.l-owndays-contactlens .howto a {
  margin: 3rem auto 0;
}
.l-owndays-contactlens .howto.top {
  background-color: #f5f5f5;
}
.l-owndays-contactlens img.eye {
  width: 300px;
  margin: 7rem auto 4rem;
}
@media (max-width: 375px) {
  .l-owndays-contactlens img.eye {
    width: 200px;
  }
}
.l-owndays-contactlens .cs_txt {
  margin-top: 2rem;
  font-size: 1.5rem;
}
.l-owndays-contactlens #step2,
.l-owndays-contactlens #step3,
.l-owndays-contactlens #step4 {
  margin: 3rem 0;
}
@media (max-width: 375px) {
  .l-owndays-contactlens #step2,
  .l-owndays-contactlens #step3,
  .l-owndays-contactlens #step4 {
    margin: 2rem 0;
  }
}
.l-owndays-contactlens .cursor {
  position: relative;
  display: block;
}
@media (max-width: 767px) {
  .l-owndays-contactlens .cursor {
    display: block;
    position: absolute;
    right: 4%;
  }
}
.l-owndays-contactlens .cursor:before {
  content: none;
}
.l-owndays-contactlens .cursor:after {
  position: absolute;
  content: '';
  border-top: 2px solid #a1cad9;
  border-right: 2px solid #a1cad9;
  width: 10px;
  height: 10px;
  right: 50%;
  left: 50%;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
@media (max-width: 767px) {
  .l-owndays-contactlens .cursor:after {
    right: 3px;
    margin-top: -1rem;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}
@media (max-width: 375px) {
  .l-owndays-contactlens .cursor:after {
    right: 1px;
    margin-top: -1.28rem;
    width: 10px;
    height: 10px;
  }
}
.l-owndays-contactlens .howto_archive {
  max-width: 960px;
  margin: 5rem auto 0;
}
@media (max-width: 1023px) {
  .l-owndays-contactlens .howto_archive {
    text-align: center;
  }
}
@media (max-width: 767px) {
  .l-owndays-contactlens .howto_archive {
    margin: 3rem auto 0;
  }
}
.l-owndays-contactlens .howto_archive p {
  text-align: left;
  color: #666;
  font-size: 0.95rem;
}
@media (max-width: 767px) {
  .l-owndays-contactlens .howto_archive p {
    padding: 0;
  }
}
.l-owndays-contactlens .howto_archive img {
  width: 130px;
  margin: 1.5rem auto;
}
@media (max-width: 767px) {
  .l-owndays-contactlens .howto_archive img {
    display: none;
  }
}
.l-owndays-contactlens .howto_archive strong {
  font-weight: 700;
  display: block;
  font-size: 1.2rem;
  text-align: left;
  letter-spacing: 0.15rem;
  color: #000;
}
.l-owndays-contactlens .howto_archive strong small {
  font-weight: 700;
  font-size: 13px;
}
@media (max-width: 767px) {
  .l-owndays-contactlens .howto_archive strong {
    display: inline-block;
    margin-right: 0.5rem;
  }
}
.l-owndays-contactlens .howto_archive li {
  display: inline-block;
  width: 24.5%;
  padding: 2rem 1.5rem 1.5rem;
  background-color: #fff;
}
@media (max-width: 1023px) {
  .l-owndays-contactlens .howto_archive li {
    width: 180px;
    padding: 2rem 1.5rem;
  }
}
@media (max-width: 767px) {
  .l-owndays-contactlens .howto_archive li {
    display: block;
    width: auto;
    margin: 0 1rem 0.5rem;
    position: relative;
  }
}
.l-owndays-contactlens .howto_archive li a {
  display: block;
  width: 100%;
  border: none;
  margin: 0;
  padding: 0 0 1.2rem;
}
@media (max-width: 767px) {
  .l-owndays-contactlens .howto_archive li a {
    padding: 0;
    position: relative;
  }
}
.l-owndays-contactlens .howto_archive li a:after {
  background: none;
}
.l-owndays-contactlens .line_step {
  border: 1px dashed #ccc;
  margin: 1.5rem 0;
}
@media (max-width: 767px) {
  .l-owndays-contactlens .line_step {
    border: none;
    margin: 0;
  }
}
.l-owndays-contactlens h6 {
  text-align: center;
  color: #94abae;
  font-size: 2.5rem;
  letter-spacing: 0.2rem;
  font-family: Founders Grotesk, sans-serif !important;
  line-height: 1.2;
}
.l-owndays-contactlens h6 strong {
  font-size: 3.3rem;
  margin-left: 0.2rem;
  font-weight: 600;
}
@media (max-width: 375px) {
  .l-owndays-contactlens h6 strong {
    font-size: 2.2rem;
  }
}
.l-owndays-contactlens .step_tit {
  text-align: center;
  font-size: 1.4rem;
  margin: 0.5rem 0 3rem;
}
@media (max-width: 1023px) {
  .l-owndays-contactlens .step_inner {
    margin: 0 1rem;
  }
}
.l-owndays-contactlens .step_inner li {
  max-width: 960px;
  margin: 0 auto 1rem;
  border: 1px solid #e3e3e3;
  border-radius: 5px;
}
.l-owndays-contactlens .step_inner li img {
  width: 130px;
  display: inline-block;
  vertical-align: middle;
  padding: 1rem 2rem;
  margin: 1.5rem 0;
  border-right: 1px solid #e3e3e3;
}
@media (max-width: 1023px) {
  .l-owndays-contactlens .step_inner li img {
    display: block;
    border-right: none;
    margin: 0 auto;
  }
}
@media (max-width: 767px) {
  .l-owndays-contactlens .step_inner li img {
    padding: 2rem 0 1rem;
  }
}
.l-owndays-contactlens .howto_disc {
  display: inline-block;
  max-width: 700px;
  vertical-align: middle;
  margin-left: 2rem;
}
@media (max-width: 1023px) {
  .l-owndays-contactlens .howto_disc {
    display: block;
    max-width: 100%;
    margin-left: 0;
    padding: 0 1.5rem 2rem;
  }
}
.l-owndays-contactlens .howto_tit {
  font-weight: 800;
  letter-spacing: 0.12rem;
}
.l-owndays-contactlens .howto_tit span {
  color: #9fcad8;
  font-size: 1.4rem;
  margin-right: 0.4rem;
}
.l-owndays-contactlens .warranty {
  background-color: #fff;
}
.l-owndays-contactlens .number-wrapper {
  max-width: calc(960px + 2rem);
  text-align: right;
  margin: 0 auto;
  padding: 0 1rem;
}
@media (max-width: 767px) {
  .b_fade_out {
    margin-top: 0;
    opacity: 1;
  }
}
@media (max-width: 375px) {
  .pt_2,
  .pt_3 {
    margin: 5rem auto 0;
  }
}
