@import url(https://fonts.googleapis.com/css2?family=Titan+One&display=swap);

:root {
  --pd: 20px;
  --container-max-w: 1352px;
  --edge: calc(var(--pd) * -1);

  --edge-aw:var(--edge) @media (min-width:1352px) {
    --edge: calc((var(--container-max-w) - (var(--pd) * 2) - var(--body-w)) / 2)
  }

  @media (min-width:2000px) {
    --edge: calc(((2000px - var(--container-max-w)) / 2 + var(--pd)) * -1);
    --edge-aw: calc((var(--container-max-w) - (var(--pd) * 2) - var(--body-w)) / 2)
  }
}

.l-content,
body,
html {
  overflow: visible
}

.l-zootopia {
  font-family: var(--font-base);
  letter-spacing: normal;
}

.l-zootopia .font-base {
  font-family: var(--font-base) !important
}

.l-zootopia .font-founders {
  font-family: Founders Grotesk, sans-serif !important
}

.l-zootopia .font-aktiv-grotesk {
  font-family: aktiv-grotesk, sans-serif !important
}

.l-zootopia .font-titan {
  font-family: Titan One, sans-serif !important
}

.l-zootopia .container {
  max-width: var(--container-max-w);
  padding-left: var(--pd);
  padding-right: var(--pd);
  margin-left: auto;
  margin-right: auto
}

.max-w-\[720px\] {
  max-width: 720px !important;
  margin-bottom: 0 !important;
}

.\[\&_\.swiper-pagination-bullets\]\:w-fit .swiper-pagination-bullets {
  width: fit-content !important;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.l-zootopia p {
  text-box-trim: trim-both;
  margin-bottom: 0;
}

.l-zootopia .button {
  display: flex !important;
  align-items: center;
  width: 100%;
  max-width: 440px;
  height: 70px;
  font: 400 21px/1 Titan One, sans-serif;
  letter-spacing: .84px;
  padding: 0 30px;
  border-radius: 70px;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.l-zootopia .button svg {
  position: absolute;
  right: 20px;
  width: 40px;
  aspect-ratio: 1/1
}

.l-zootopia .button--primary {
  background-color: #25496c;
  color: #fff
}

.l-zootopia .button--secondary {
  background-color: #e0ccb1;
  color: #25496c
}

@media (min-width:768px) {
  .l-zootopia .button {
    font-size: 23px;
    letter-spacing: .92px
  }
}

@media (min-width:1024px) {
  .l-zootopia .button {
    justify-content: center;
    transition: .4s;
  }

  .l-zootopia .button--primary:hover {
    background-color: #e0ccb1;
    color: #25496c;
    cursor: pointer !important;
  }

  .l-zootopia .button--secondary:hover {
    background-color: #25496c;
    color: #fff
  }
}

@media (max-width:767px) {
  .l-zootopia .product-point .swiper-slide {
    width: 71.79487vw !important
  }
}

@media (min-width:768px) and (max-width:1023px) {
  .l-zootopia .product-point .swiper-slide {
    width: 45.57292vw !important
  }
}

.l-zootopia .sticky-buttons .button {
  line-height: 16px;
  width: 100%;
  height: 55px;
  padding-inline: 11px;
  text-align: center;
  border-radius: 0
}

.l-zootopia .sticky-buttons .button span {
  width: 100%
}

.l-zootopia .sticky-buttons .button--primary {
  font-size: 13px;
  letter-spacing: .52px
}

.l-zootopia .sticky-buttons .button--secondary {
  font-size: 12px;
  letter-spacing: normal
}

@media (min-width:768px) {
  .l-zootopia .sticky-buttons .button {
    border-radius: 60px;
    height: 60px;
    line-height: 20px
  }

  .l-zootopia .sticky-buttons .button--primary {
    font-size: 19px;
    letter-spacing: .76px
  }

  .l-zootopia .sticky-buttons .button--secondary {
    font-size: 16px;
    letter-spacing: .64px
  }

  .l-zootopia .sticky-buttons .button svg {
    width: 36px;
    height: 36px
  }
}

@media (min-width:1024px) {
  .l-zootopia .sticky-buttons .button {
    width: 400px
  }
}

.l-zootopia [data-aos=bounce-scale-up] {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transition-property: opacity, -webkit-transform;
  transition-property: opacity, -webkit-transform;
  transition-property: transform, opacity;
  transition-property: transform, opacity, -webkit-transform
}

.l-zootopia [data-aos=bounce-scale-up].aos-animate {
  opacity: 1;
  -webkit-animation: bounce-scale-up var(--animate-duration, .8s) ease forwards;
  animation: bounce-scale-up var(--animate-duration, .8s) ease forwards;
  -webkit-animation-delay: var(--animate-delay, 0s) !important;
  animation-delay: var(--animate-delay, 0s) !important
}

@-webkit-keyframes bounce-scale-up {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0)
  }

  25% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25)
  }

  50% {
    -webkit-transform: scale(.95);
    transform: scale(.95)
  }

  75% {
    -webkit-transform: scale(1.025);
    transform: scale(1.025)
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

@keyframes bounce-scale-up {
  0% {
      -webkit-transform: scale(0);
      transform: scale(0)
  }

  25% {
    -webkit-transform: scale(1.25);
    transform: scale(1.25)
  }

  50% {
    -webkit-transform: scale(.95);
    transform: scale(.95)
  }

  75% {
    -webkit-transform: scale(1.025);
    transform: scale(1.025)
  }

  to {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
}

@-webkit-keyframes floating {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px)
  }

  to {
    -webkit-transform: translateY(8px);
    transform: translateY(8px)
  }
}

@keyframes floating {
  0% {
    -webkit-transform: translateY(-10px);
    transform: translateY(-10px)
  }

  to {
    -webkit-transform: translateY(8px);
    transform: translateY(8px)
  }
}

.l-zootopia--zh_hk .concept__desc,
.l-zootopia--zh_tw .concept__desc {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

@media (min-width:768px) {

  .l-zootopia--zh_hk .concept__desc,
  .l-zootopia--zh_tw .concept__desc {
    margin-top: 0
  }
}

@media (min-width:1024px) {

  .l-zootopia--zh_hk .concept-title,
  .l-zootopia--zh_tw .concept-title {
    margin-bottom: 10px
  }
}

@media (min-width:1296px) {

  .l-zootopia--zh_hk .concept__title,
  .l-zootopia--zh_tw .concept__title {
      margin-bottom: 20px
  }

  .l-zootopia--zh_hk .concept__desc,
  .l-zootopia--zh_tw .concept__desc {
      line-height: 35px
  }
}

.l-zootopia--vi .concept__desc {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px
}

@media (min-width:768px) {
  .l-zootopia--vi .concept__desc {
    margin-top: -15px
  }
}

@media (min-width:1024px) {
  .l-zootopia--vi .concept__title {
    margin-bottom: 30px
  }

  .l-zootopia--vi .concept__desc {
    margin-top: 0
  }
}

@media (min-width:1296px) {
  .l-zootopia--vi .concept__desc {
    font-weight: 600;
    line-height: 35px;
    left: 115px;
    right: 115px
  }
}

.l-zootopia--en .concept__desc {
  font-size: 16px;
  font-weight: 500;
  line-height: 26px
}

@media (min-width:768px) {
  .l-zootopia--en .concept__desc {
    margin-top: 0
  }
}

@media (min-width:1024px) {
  .l-zootopia--en .concept__desc {
    margin-top: 10px
  }
}

.c-top-btn {
  bottom: 100px !important
}

@media (min-width:768px) {
  .c-top-btn {
    bottom: 120px !important
  }
}

#footer {
  position: relative;
  z-index: 5;
}
