@font-face {
  font-family: "Aktiv Grotesk TWHK";
  src:
    url("https://storage.owndays.com/fonts/AktivGroteskTWHK/AktivGroteskTWHK-Medium.woff2")
      format("woff2"),
    url("https://storage.owndays.com/fonts/AktivGroteskTWHK/AktivGroteskTWHK-Medium.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aktiv Grotesk TWHK";
  src:
    url("https://storage.owndays.com/fonts/AktivGroteskTWHK/AktivGroteskTWHK-Regular.woff2")
      format("woff2"),
    url("https://storage.owndays.com/fonts/AktivGroteskTWHK/AktivGroteskTWHK-Regular.woff")
      format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Aktiv Grotesk TWHK";
  src:
    url("https://storage.owndays.com/fonts/AktivGroteskTWHK/AktivGroteskTWHK-Bold.woff2")
      format("woff2"),
    url("https://storage.owndays.com/fonts/AktivGroteskTWHK/AktivGroteskTWHK-Bold.woff")
      format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Founders Grotesk";
  src:
    url("https://static1.lenskart.com/media/owndays/fonts/FoundersGrotesk/FoundersGrotesk-Light.woff2")
      format("woff2"),
    url("https://static1.lenskart.com/media/owndays/fonts/FoundersGrotesk/FoundersGrotesk-Light.woff")
      format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Founders Grotesk";
  src:
    url("https://static1.lenskart.com/media/owndays/fonts/FoundersGrotesk/FoundersGrotesk-Regular.woff2")
      format("woff2"),
    url("https://static1.lenskart.com/media/owndays/fonts/FoundersGrotesk/FoundersGrotesk-Regular.woff")
      format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Founders Grotesk";
  src:
    url("https://static1.lenskart.com/media/owndays/fonts/FoundersGrotesk/FoundersGrotesk-Medium.woff2")
      format("woff2"),
    url("https://static1.lenskart.com/media/owndays/fonts/FoundersGrotesk/FoundersGrotesk-Medium.woff")
      format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Founders Grotesk";
  src:
    url("https://static1.lenskart.com/media/owndays/fonts/FoundersGrotesk/FoundersGrotesk-Semibold.woff2")
      format("woff2"),
    url("https://static1.lenskart.com/media/owndays/fonts/FoundersGrotesk/FoundersGrotesk-Semibold.woff")
      format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Founders Grotesk";
  src:
    url("https://static1.lenskart.com/media/owndays/fonts/FoundersGrotesk/FoundersGrotesk-Bold.woff2")
      format("woff2"),
    url("https://static1.lenskart.com/media/owndays/fonts/FoundersGrotesk/FoundersGrotesk-Bold.woff")
      format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
  --font-aktiv-grotesk-twhk: "Aktiv Grotesk TWHK", sans-serif;
  --font-founders: "Founders Grotesk", sans-serif;
  --font-base: "Founders Grotesk", "Aktiv Grotesk TWHK", sans-serif;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: var(--font-base);
  letter-spacing: 1px;
  box-sizing: border-box;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  padding: 0;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

picture,
img {
  max-width: 100%;
}

picture {
  display: block;
  width: 100%;
  height: auto;
}

picture img {
  display: block;
  width: 100%;
  height: auto;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.breadcrumbs {
  width: 100%;
  height: auto;
  background-color: white;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.25;
  letter-spacing: 0.12px;
  position: relative;
  z-index: 2;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.breadcrumbs__list {
  padding-inline: 20px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  gap: 8px;
  width: 100%;
  height: auto;
  max-width: 1440px;
  margin-inline: auto;
  white-space: nowrap;
  overflow-x: auto;
  scrollbar-width: none;
  padding: 10px 20px 18px 20px;

  li {
    display: flex;
    align-items: center;
    gap: 8px;
  }

  li:not(:first-child)::before {
    content: ">";
    display: inline-block;
    font-weight: inherit;
    color: #999;
    margin-top: -2px;
  }

  p {
    display: flex;
    font: inherit;
  }

  a {
    outline: none;
    text-decoration: none;
    display: inline-flex;
    color: #999;
    transition: 0.5s;
    cursor: pointer;
  }

  @media (min-width: 1296px) {
    ul {
      padding-inline: 50px;
      max-width: 2020px;
    }
  }
}
