.lens {
  .base-services__p-main__title {
    background-color: #f4f4f4;

    @media (min-width: 768px) {
      background-color: transparent;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .base-services__p-main__title-default {
    color: black;

    @media (min-width: 768px) {
      text-align: center;
      font-weight: 300;
    }
  }

  .base-services__p-main__title-description {
    color: #666;

    @media (min-width: 768px) {
      text-align: center;
      max-width: 600px;
      margin: 17px auto 0;
    }
  }

  .base-services__p-main__bg picture img {
    @media (min-width: 768px) {
      aspect-ratio: 16 / 5;
    }
  }
}
