.lens {
  .base-services__p-main__title {
    background-color: #f4f4f4;

    @media (min-width: 768px) {
      background-color: transparent;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .base-services__p-main__title-default {
    color: black;

    @media (min-width: 768px) {
      text-align: center;
      font-weight: 300;
    }
  }

  .base-services__p-main__title-description {
    color: #666;

    @media (min-width: 768px) {
      text-align: center;
      max-width: 600px;
      margin: 17px auto 0;
    }
  }

  .base-services__p-main__bg picture img {
    @media (min-width: 768px) {
      aspect-ratio: 16 / 5;
    }
  }
}

.lens__list {
  width: 100%;
  height: auto;
  padding-inline: 20px;
  max-width: 1036.8px;
  margin-inline: auto;

  h2 {
    margin-top: 50px;
    font-size: 17px;
    font-weight: 400;
    line-height: 1.6;
    text-align: center;
  }

  @media (min-width: 768px) {
    padding-inline: 77px;

    h2 {
      font-size: 26px;
      line-height: 1.9;
    }
  }

  @media (min-width: 1113px) {
    padding-inline: 0;
  }
}

.lens__menu {
  margin: 30px 0;
  text-align: center;

  label {
    position: relative;
    display: inline-block;
    margin-right: 1.5rem;
    cursor: pointer;
    font-weight: 400;
    color: #666;
    transition: all 0.3s ease;

    &.active {
      color: #007eaa;
    }
  }

  @media (min-width: 1024px) {
    label {
      &:hover {
        color: #007eaa;
      }
    }
  }
}

.lens__list__panel {

}

.lens__p-lens-tab {
  width: 100%;
  height: auto;
  position: relative;
  margin-bottom: 10px;
  border: 1px solid #f4f4f4;

  &::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 25px;
    height: 100%;
    background: #f4f4f4 url(https://storage.owndays.com/images/common/arrow-b-black.png) 50% no-repeat;
    background-size: 4px;
    z-index: 1;
  }

  a {
    display: block;
    outline: none;
    text-decoration: none;
    color: black;
    transition: .5s;
    cursor: pointer;
    padding-left: 55px;
    position: relative;

    &::before {
      content: "";
      display: block;
      position: absolute;
      top: 25px;
      left: 10px;
      width: 30px;
      height: 30px;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
    }

    &[data-key="lens-standard"],
    &[id="lens-aspheric"],
    &[id="lens-aspheric-double"],
    &[id="lens-clear-coat"],
    &[id="lens-anti-scratch"],
    &[id="lens-relax"],
    &[id="lens-transitions-polarised"],
    &[id="lens-transitions-gens"] {
      &::before {
        background-image: url(https://www.owndays.com/images/services/lens/detail_4-lens.webp);
      }
    }

    &[id="lens-pclens"], &[data-key="lens-pclens"] {
      &::before {
        background-image: url(https://storage.owndays.com/images/services/lens/detail_5-lens.webp);
      }
    }

    &[id="lens-color"], &[data-key="lens-color"] {
      &::before {
        background-image: url(https://storage.owndays.com/images/services/lens/detail_6-lens.webp);
      }
    }

    &[id="lens-progressive"], &[data-key="lens-progressive"] {
      &::before {
        background-image: url(https://storage.owndays.com/images/services/lens/detail_2-lens.webp);
      }
    }

    &[id="lens-polarised"], &[data-key="lens-polarised"] {
      &::before {
        background-image: url(https://storage.owndays.com/images/services/lens/detail_3-lens.webp);
      }
    }

    &[id="lens-myopia-control"], &[data-key="lens-myopia-control"] {
      &::before {
        background-image: url(https://storage.owndays.com/images/services/lens/detail_2-lens.webp);
      }
    }
  }

  &.is-animated {
    opacity: 1;
  }

  &[data-key="header"] {
    display: block;
    opacity: 1;
    margin-bottom: -1px;

    &::before {
      display: none;
    }
  }

  @media (min-width: 768px) {
    height: 70.39px;

    &::before {
      width: 50px;
    }

    a {
      width: 100%;
      height: 100%;

      &::before {
        width: 36px;
        height: 36px;
        left: 15px;
        top: 13px;
      }
    }
  }

  @media (min-width: 1024px) {
    a {
      &:hover {
        color: #999;
      }
    }
  }
}

.lens__p-lens-tab-inner {
  display: block;
  position: relative;
  padding: 20px 25px 20px 0;
  width: 100%;
  height: 100%;
  cursor: pointer;

  @media (min-width: 768px) {
    display: flex;
    align-items: center;
    padding: 0 70px 0 11px;
    max-width: 700px;

    &.without-max-width {
      max-width: none;
      padding: 0 20px 0 11px;

      .lens__c-lens-price {
        width: fit-content;
        max-width: none;
      }
    }
  }
}

.lens__c-lens-tag {
  display: block;
  padding: 3px 6px;
  margin-bottom: 3px;
  width: 70px;
  height: auto;
  background: #0094c8;
  color: white;
  font-family: var(--font-founders);
  font-size: 11px;
  line-height: 1;
  text-align: center;
  font-weight: 400;

  &.lens__c-lens-tag-option {
    background-color: #bf0000;
  }

  @media (min-width: 768px) {
    padding: 10px 7px;
  }
}

.lens__c-lens-type {
  display: inline-block;
  padding-left: 0;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.6;

  img {
    width: auto;
    height: 27px;
    display: inline-table;
    vertical-align: middle;
    margin-right: 9px;
  }

  @media (min-width: 768px) {
    padding-left: 20px;
    font-size: 16px;
    line-height: 1.9;
  }
}

.lens__c-lens-price {
  font-family: var(--font-base);
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
  color: #bf0000;
  margin-top: 12px;
  white-space: nowrap;

  @media (min-width: 768px) {
    margin-top: 0;
    margin-left: auto;
    max-width: 100px;
    width: 100%;
  }
}

.lens__introduction {
  width: 100%;
  height: auto;
  padding-inline: 20px;
  max-width: 1036.8px;
  margin-inline: auto;

  h2 {
    font-weight: 400;
    font-size: 26px;
    line-height: 1.6;
    margin-top: 50px;
    margin-bottom: 30px;
    text-align: center;
  }

  @media (min-width: 768px) {
    padding-inline: 77px;

    h2 {
      margin: 80px 0 30px;
      font-size: 26px;
      line-height: 1.9;
    }
  }

  @media (min-width: 1113px) {
    padding-inline: 0;
  }
}

.lens__details {
  border: 1px solid #f4f4f4;
  padding: 20px;
  margin-bottom: 30px;

  h4 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 1.6;
  }

  p {
    color: #666;
    font-weight: 400;
  }

  @media (min-width: 768px) {
    padding: 30px 25px;

    h4 {
      line-height: 1.9;
    }
  }
}

table {
  width: 100%;
  height: auto;
  margin-top: 20px;
  border-top: 1px solid #f4f4f4;

  th {
    width: 90px;
    height: auto;
    border-right: 1px solid #f4f4f4;
    border-bottom: 1px solid #f4f4f4;
    font-weight: 300;
    position: relative;
    padding: 10px 14px;
    vertical-align: middle;
    text-align: left;
  }

  td {
    padding: 10px 0 10px 14px;
    border-bottom: 1px solid #f4f4f4;
  }

  ul {
    width: 100%;
    height: auto;
    max-width: 400px;

    li {
      position: relative;
      padding-left: 30px;
      color: #666;

      &::before {
        content: "";
        display: block;
        position: absolute;
        width: 15px;
        height: 15px;
        left: 0;
        top: 6px;
        background: url(https://storage.owndays.com/images/common/check.svg) 50% no-repeat;
        background-size: 15px;
      }
    }
  }

  @media (min-width: 768px) {
    ul {
      display: grid;
      grid-template-columns: repeat(2, auto);
    }
  }
}

.lens-image {
  margin-top: 20px;
  padding: 0 10px 10px;
  border: 1px solid #f4f4f4;
  position: relative;

  .color-text {
    padding-top: 20px;

    p {
      margin-bottom: 20px;
      font-size: 12px;
      font-weight: 600;
      color: black;
    }

    ul {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      max-width: 700px;
      margin-inline: auto;
      gap: 20px;
      margin-bottom: 20px;

      li {
        p {
          color: #666;
          font-size: 11px;
          font-weight: 400;
          text-align: center;
          padding-top: 10px;
        }
      }
    }

    &[data-key="box-20"] {
      padding: 10px;
    }
  }

  &[data-key="myopia-control-text"] {
    > div:nth-child(1) {
      border-bottom: 1px solid #f4f4f4;
      border-right: none;
      padding-bottom: 20px;
    }
  }

  @media (min-width: 768px) {
    .color-text {
      p {
        line-height: 2;
        text-align: center;
        font-size: 14px;
        margin-bottom: 8px;
      }

      ul {
        margin-top: 20px;

        li {
          width: 70px;
          height: auto;
        }
      }

      &[data-key="box-20"] {
        padding: 20px;
      }
    }

    &[data-key="myopia-control-text"] {
      display: grid;
      grid-template-columns: repeat(2, 1fr);

      > div {
        p {
          text-align: center;
        }
      } 

      > div:nth-child(1) {
        border-right: 1px solid #f4f4f4;
        border-bottom: 0;
      }
    }
  }
}

.lens__details-data {
  padding: 20px;
  border: 1px solid #f4f4f4;
  margin-bottom: 30px;

  h3, h4 {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    line-height: 1.6;
  }

  span {
    font-size: 16px;

    &.c-red {
      color: #bf0000;
    }
  }

  hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: #f4f4f4;
    margin-block: 20px;
  }

  p {
    color: #666;
    font-weight: 400;
  }

  @media (min-width: 768px) {
    padding: 30px 25px;

    h3, h4 {
      line-height: 1.9;
    }
  }
}

.lens__text-comment {
  text-align: right;
  color: #999;
  font-size: 11px;
  font-weight: 400;
  line-height: 1.7;
  margin-top: 5px;
}

.lens__banner {
  width: 100%;
  height: auto;
  background: #fbfbfb url(https://storage.owndays.com/images/services/lens/banner-lens-replacement.webp) center 20px no-repeat;
  background-size: 250px;
  padding: 10px;
  position: relative;
  margin-block: 40px 20px;

  &::before {
    content: "";
    display: block;
    position: absolute;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    border: 2px solid #fff;
    top: 10px;
    left: 10px;
  }

  a {
    padding: 150px 0 20px;
    display: block;
    width: 100%;
    height: 100%;
    outline: none;
    text-decoration: none;
    color: black;
    transition: .5s;
    cursor: pointer;

    h2, p {
      width: 90%;
      height: auto;
      margin-inline: auto;
      color: black;
    }

    p {
      color: #999;
    }

    h2 {
      margin-top: 50px;
      margin-bottom: 10px;
      font-weight: 400;
      font-size: 26px;
      line-height: 1.6;
      text-align: left;
    }

    .c-banner-subtitle {
      color:black;
    }

    .c-banner-price {
      color: #bf0000;
      font-size: 24px;
    }

    .c-banner-link {
      font-family: var(--font-founders);
    }
  }

  @media (min-width: 768px) {
    background: #fbfbfb url(https://storage.owndays.com/images/services/lens/banner-lens-replacement.webp) 0 no-repeat;
    background-size: 40%;
    margin-top: 40px;
    height: 320px;
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    position: relative;

    a {
      padding: 0;
      display: flex;
      flex-direction: column;
      justify-content: center;

      h2, p {
        width: 50%;
        position: relative;
        left: 40%;
        text-align: left;
        margin: 0;
      }

      h2 {
        line-height: 1.9;
      }
    }
  }

  @media (min-width: 1024px) {
    a {
      &:hover {
        opacity: .7;
      }
    }
  }
}
