.staff {
  .base-services__p-main__title {
    background-color: #f4f4f4;

    @media (min-width: 768px) {
      background-color: transparent;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .base-services__p-main__title-default {
    color: black;

    @media (min-width: 768px) {
      text-align: center;
      font-weight: 300;
    }
  }

  .base-services__p-main__title-description {
    color: #666;

    @media (min-width: 768px) {
      text-align: center;
      max-width: 600px;
      margin: 17px auto 0;
    }
  }

  .base-services__p-main__bg picture img {
    @media (min-width: 768px) {
      aspect-ratio: 16 / 5;
    }
  }

  .base-services__menu--sp {
    margin-top: 20px;
  }
}

.staff__container {
  width: 100%;
  height: auto;
  max-width: 1296px;
  padding: 0 5%;
  margin-inline: auto;

  @media (min-width: 768px) {
    width: 90%;
    padding-inline: 0;
  }
}

.staff__content {
  margin-top: 25px;
  padding: 0;
  border: 1px solid #e3e3e3;
  position: relative;

  h2 {
    font-size: 18px;
    text-align: center;
    border-bottom: 1px solid #e3e3e3;
    padding: 18px 0 13px;
    line-height: 1;
  }

  p {
    padding: 20px;
  }

  @media (min-width: 768px) {
    width: 80%;
    max-width: 1152px;
    margin: 0 auto;
    margin-top: 80px;
    border: 1px solid #e3e3e3;
    position: relative;
  }
}

.staff__content-table {
  padding: 0 20px 20px;

  table {
    tr {
      border: 1px solid #e3e3e3;
    }

    th {
      border-bottom: none;
      width: 100%;
      display: block;
      padding-top: 20px;

      picture {
        width: 100%;
        height: auto;
        display: block;
      }

      img {
        width: 45px;
        height: auto;
        margin: 0 auto;
      }
    }

    td {
      display: block;
      width: 100%;
      height: auto;

      h3 {
        font-size: 16px;
        font-weight: 600;
        padding: 10px 0 0;
        text-align: center;
      }
    }
  }

  @media (min-width: 768px) {
    table {
      border-collapse: collapse;
      border-spacing: 0;

      tr {
        display: grid;
        grid-template-columns: 100px 1fr; 

        &:not(:last-child) {
          border-bottom: 0;
        }
      }

      th {
        padding: 0;
        display: flex;

        picture {
          margin: auto;
        }
      }

      td {
        border-left: 1px dashed #e3e3e3;

        h3 {
          padding: 20px 20px 0;
          text-align: left;
        }

        p {
          padding-top: 10px;
        }
      }
    }
  }
}
