.warranty {
  .base-services__p-main__title {
    background-color: #f4f4f4;

    @media (min-width: 768px) {
      background-color: transparent;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }

  .base-services__p-main__title-default {
    color: black;

    @media (min-width: 768px) {
      text-align: center;
      font-weight: 300;
    }
  }

  .base-services__p-main__title-description {
    color: #666;

    @media (min-width: 768px) {
      text-align: center;
      max-width: 600px;
      margin: 17px auto 0;
    }
  }

  .base-services__p-main__bg picture img {
    @media (min-width: 768px) {
      aspect-ratio: 16 / 5;
    }
  }
}

.warranty__container {
  width: 100%;
  height: auto;
  padding: 0 5%;
  max-width: 1034.8px;
  margin-inline: auto;

  @media (min-width: 768px) {
    padding: 0 14%;
  }

  @media (min-width: 1160px)  {
    padding: 0;
  }
}

.warranty__content {
  margin-block: 35px 0;

  h2 {
    font-size: 18px;
    text-align: center;
    font-weight: 700;
    margin-bottom: 22px;
    line-height: 1.6;

    &[data-key="add-mt"] {
      margin-top: 35px;
    }
  }

  @media (min-width: 768px) {
    margin-block: 80px 0;

    h2 {
      line-height: 1.6;

      &[data-key="add-mt"] {
        margin-top: 80px;
      }
    }
  }
}

.warranty__content-block {
  border: 1px solid #e3e3e3;
  margin: 0 0 20px;
  position: relative;
  min-height: 150px;
  width: 100%;
  height: auto;
  display: block;

  @media (min-width: 768px) {
    &::before {
      content: "";
      height: 100%;
      width: 1px;
      position: absolute;
      top: 0;
      left: 110px;
      border-left: 1px dashed #e3e3e3;
    }
  }
}

.warranty-no {
  p {
    position: relative;
    transform: rotate(0);
    top: auto;
    left: auto;
    margin-top: 0;
    text-align: center;
    border-bottom: 1px dashed #e3e3e3;
    padding: 15px 0;
  }

  @media (min-width: 768px) {
    width: fit-content;
    height: fit-content;
    float: left;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    p {
      transform: rotate(-90deg);
      top: 50%;
      left: 2px;
      margin-top: -12px;
      border-bottom: 0;
      white-space: nowrap;
    }
  }
}

.warranty-service {
  display: table;
  width: 100%;
  height: 100%;
  padding: 15px;

  @media (min-width: 768px) {
    padding: 20px 20px 20px 130px;
    min-height: 150px;
    width: 100%;
    height: 1px;
  }
}

.warranty-service-inner {
  h3 {
    font-size: 16px;
    font-weight: 300;
  }

  p {
    &.c-term {
      font-family: var(--font-founders);
      font-size: 16px;
      color: #c7002e;
      font-weight: 600;
    }

    &.c-attention {
      font-size: 11px;
      color: #999;
      padding-top: 5px;

      i {
        position: relative;
        padding-right: 0.3rem;

        &::before {
          content: "※";
          position: absolute;
          color: #999;
          left: 0;
          top: 0;
        }
      }
    }
  }

  ul {
    margin-top: 8px;
    
    li {
      position: relative;
      padding-left: 13px;
      line-height: 22px;
    
      &::before {
        content: "※";
        font-size: 12px;
        position: absolute;
        color: #999;
        left: 0;
        top: 9px;
        line-height: 1;
      }
    }
  }
}
