.font-effra {
	font-family: effra, sans-serif !important
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.6;
}

@media (min-width: 1024px) {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.9;
  }
}

p, span {
  line-height: 2;
  margin-bottom: 0 !important;
}

a {
  text-decoration: none;
  outline: none;
  transition: .5s;
}

.contactlens__slider {
	--top-space: 40px
}

.contactlens__slider .swiper-slide {
	width: calc(137/390*100vw);
	max-width: 334px;

  img {
    width: 100%;
    height: 100%;
  }
}

.contactlens__slider .swiper-slide:nth-child(2n) {
	padding-top: var(--top-space)
}

@media (min-width:1024px) {
	.contactlens__slider {
		--top-space: 97px
	}
}

.auto-slide .swiper-wrapper {
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear
}

.clip-path-bg {
	-webkit-clip-path: circle(74vw at 50vw 75vw);
	clip-path: circle(74vw at 50vw 75vw);
	background: #fff
}

.custom-select {
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: #f7f7f7;
	border: 1px solid #ddd;
	border-radius: 10px;
	padding: 12px 40px 12px 16px;
	font-size: 16px;
	font-weight: 300;
	height: 62px;
	color: #000;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16' fill='none'%3E%3Cpath d='M4 6l4.5 4.5L13 6' stroke='%23666' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
	background-repeat: no-repeat;
	background-position: right 12px center;
	background-size: 16px 16px
}

[data-aos="fade-left-md"] {
  opacity: 0;
  transform: translateX(10px);
  transition-property: transform, opacity;

  &.aos-animate {
    opacity: 1;
    transform: translateX(0);
  }
}
