.l-company__header {
  display: grid;
  gap: 80px;
  padding: 80px 0 20px;
}

@media (max-width: 767px) {
  .l-company__header {
    gap: 60px;
    padding: 60px 0 0;
  }
}

.l-company__header__logo {
  width: 120px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .l-company__header__logo {
    width: 100px;
  }
}

.l-company__header__title {
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

.l-content--inner a {
  color: #0094c8;
  display: inline;
}

.l-content--inner.-last {
  margin-bottom: 0;
}

@media (max-width: 767px) {
  .l-content--inner {
    padding: 0;
  }
}

.t-company h2 {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding-bottom: 30px;
  line-height: 2;
}

.table-company {
  border-bottom: 1px solid #e3e3e3;
  max-width: 900px;
  margin: 0 auto;
  width: 100%;
  font-size: 14px;
}

.table-company th {
  border-top: 1px solid #e3e3e3;
  padding: 15px 20px;
  width: 200px;
  font-weight: 300;
  line-height: 2;
  text-align: left;
}

@media (max-width: 767px) {
  .table-company th {
    display: block;
    background: #f4f4f4;
    padding: 10px 0;
    width: 100%;
    text-align: center;
    border-top: none;
  }
}

.table-company td {
  border-top: 1px solid #e3e3e3;
  padding: 15px 20px;
  line-height: 2;
}

.table-company td a {
  text-decoration: none;
}

.table-company td a img {
  width: 26px !important;
  height: 26px;
  margin-bottom: -7px;
  margin-top: 6px;
}

@media (max-width: 767px) {
  .table-company td {
    border-top: none;
    display: block;
    padding: 10px 5% 20px;
  }

  .table-company td.l-td-tag {
    border-top: none;
    padding: 10px 5% 5px;
    font-weight: 600;
  }

  .table-company td.l-td-include {
    border-top: none;
    padding: 0 5% 20px;
  }
}

.l-content--inner,
.p-about__content,
.p-services__list,
.p-styling-video {
  width: 80%;
  max-width: 1152px;
  margin: 0 auto;
}

@media (max-width: 767px) {
  .l-content--inner,
  .p-about__content,
  .p-services__list,
  .p-styling-video {
    width: 100%;
    padding: 0 5%;
  }
}

.l-content--inner {
  margin-bottom: 60px;
}
@media (max-width: 767px) {
  .l-content--inner {
    padding: 0;
  }
}

.l-content--high {
  margin: 0 auto 120px;
}
@media (max-width: 767px) {
  .l-content--high {
    margin: 0 auto 60px;
  }
}
